.container{
  margin: 0px auto;
}
@media (min-width:768px) {
  .container{
      width: 800px;
  }
}
@media (min-width:992px) {
  .container{
      width: 1000px;
  }
}
@media (min-width:1200px) {
  .container{
      width: 1300px;
  }
}
