.card {
  padding: 10px;
  line-height: 1.5;
  text-align: center;
  box-shadow: 0px 0px 20px 0px #888888;
  border-radius: 15px;
}
.card span {
  cursor: pointer;
  margin: 5px;
  display: inline-block;
  color: #2266cc;
  padding: 5px 10px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.card span:hover {
  color: white;
  background-color: #2266cc;
}
.card img {
  max-width: 100%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
