.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}
.pagination a:hover, .pagination a.active {
  background-color: #2266cc;
  color: white;
}